.container {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--beige);
  height: 4dvh;
}

.text {
  all: unset;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: var(--brown);
  padding: 0.5rem 0;
}

.link {
  &:hover {
    text-decoration: underline;
  }
}

.bullet {
  all: unset;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: var(--brown);
  padding: 0.5rem 1rem;
}

