.imageWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;

  img {
    display: block;
    position: relative !important;
    height: auto !important;
    object-fit: cover;
  }

  track {
    display: none;
  }
}

